@use '../defaults/object-color';

$border-color: #414141;

table {
    margin-left: auto;
    margin-right: auto;
    @include object-color.background-color(#eddaff);
    border: 1.5px solid $border-color;
    border-collapse: collapse;
    width: 450px;
}

.table-head {
    @include object-color.textcolor(object-color.$violet);
    font-family: sans-serif;
}

td,
th {
    border: 1px solid $border-color;
    text-align: center;
    padding: 8px;
    font-family: cursive;
}