<nav class="navbar">
    <LinkTo @route="index" class="link">
        Home
    </LinkTo>
    <LinkTo @route="admin" class="link">
        Admin
    </LinkTo>
    <LinkTo @route="student-login" class="link">
        Login/Register
    </LinkTo>
    <LinkTo @route="profile" class="link">
        Profile
    </LinkTo>
</nav>