.login-form {
    width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fcdcb3d0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: #e06948;
    font: {
        size: 20px;
        family: Verdana, Geneva, Tahoma, sans-serif;
    }
}